.Register{
    text-align: center;
}


.RegisterFields{
    width: 30%;
    height: 1.5em;
    margin-top: 5%;
    border: .1em solid black; 
    font-size: 1em;
}

.RegisterButton{
    margin-top: 2%;
    margin-bottom: 2%;
    height: 3em;
    width: 5%;
    color: white;
    background-color: #808080;
    border-radius: 2em;
}


#ErrorMessagesLogin {
    color:red; 
}

.TypeofUser{
    margin: 3%;
    font-size: 1.1em;
}

