.classInfo{
	background-color: white;
	margin-bottom: 2%;
	padding-bottom: 1%;	
	
	text{
		margin-left: 2%;
	}
}

.ViewClassContainer{
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
}

#title{
	text-align: center;
}

#gradeLink{
	text-decoration: none;
	margin-left: 2%;
}

