.StudEvalContainer{
	background-color: white;
	margin-left: 5%;
	margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#title{
	text-align: center;
	padding-bottom: 3%;
}

.assignInfo{

	text{
		margin-left: 8%;
		font-size: 1.2em;
	}

}

#response{
	margin-left: 10%;
}

#prompt{
	margin-bottom: 1%;
}

#prompt{
	margin-left: 5%;
	font-size: 1.2em;
	padding-top: 1%;
}

.sliderContainer{
	display: flex;
	margin-left: 8%;
	padding-top: 2%;
	

}

.sliderText{
	padding-top: 1%;
	padding-right: 5%;
}
