.Login{
    text-align: center;

}


.LoginFields{
    width: 30%;
    height: 1.5em;
    margin-top: 5%;
    border: .1em solid black; 
    font-size: 1em;
}

.LoginButton{
    margin-top: 5%;
    height: 3em;
    width: 5%;
    color: white;
    background-color: #808080;
    border-radius: 2em;
}