.professorContainer{
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    border: .01em solid black; 
    margin-bottom: 5%;
	display: flex;
	padding: 1%;
	flex-direction: column;
    
}  
input[type="button"]{
    background-color:#696969;
    color: white;
    border-radius: 2em;
	margin: 1em;
}
.questionDiv{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0 5%;
	width: 95%;
}
.promptDiv{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0 5%;
}
.CreateandCancel{
	display: flex;
	justify-content: flex-end;
}
.TextBox{
    border: .1em black solid;
    width: 100%;
    font-size: 14px;
}
.datePickerContainer{
	display: flex;
	justify-content: space-between;
}
