.SGP{
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    th, td {
        padding: 2.5%;
    }
    td{
        background-color:white;
        border-top:solid .01em; border-bottom:solid .01em;
    }
    th{
        font-size: x-large;
    }
    table{
        border-collapse: collapse;
        width: 100%;
        overflow-x:auto;
    }
}