.professorContainer{
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    border: .01em solid black; 
    margin-bottom: 5%;
    
}   


hr{

    margin-left: 5%;
    margin-right: 5%;
    
}

.h1class{
    margin-left: 7%;
    font-weight: normal;
}



.buttonFloat{
   margin-left: 60%;
   margin-top: 0%;
   margin-bottom: 0%;
   
}

input[type="submit"]{
    background-color:#696969;
    color: white;
    border-radius: 2em;

}
.h2class{
    margin-left: 7%;
    margin-bottom: 0%;
    margin-right: 0%;
    font-weight: lighter;
}